.header__lang-link-container {
  width: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .header__lang-link-container {
    width: 62px;
  }
}
